@import 'tailwindcss/base';

html,
body {
    margin: 0;
    padding: 0;

    height: 100%;

    background-color: whitesmoke;
}

// Navigation
.navbar {
    position: fixed;

    width: 5rem;
    height: 100vh;

    @apply bg-blue-900;

    @media screen and (min-width: 768px) {
        &:hover {
            width: 16rem;
        }
    }

    transition: width 200ms ease;

    z-index: 10;
}

.nav {
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: 5rem;

        color: whitesmoke;

        &:hover svg {
            transform: rotate(360deg);
        }

        > svg {
            width: 2rem;
            min-width: 2px;
            margin: 0 2rem;

            fill: whitesmoke;

            transition: transform 200ms ease;
        }
    }

    &-item {
        width: 100%;

        &:hover {
            @apply bg-blue-700;
        }
    }

    &-text {
        display: none;

        @media (min-width: 768px) {
            .navbar:hover & {
                display: inline;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 100vw;
        height: 5rem;

        bottom: 0;
    }

    .nav-text {
        display: none;
    }
}

// :active selector style
.is-active {
    &:active {
        background-color: powderblue;
    }
}

// Animation
.circle {
    display: block;
    position: relative;

    width: 10px;
    height: 10px;

    background-color: palevioletred;
    border-radius: 10px;

    &-h {
        @extend .circle;
        animation: theH 3s ease-in-out reverse infinite both;
    }

    &-v {
        @extend .circle;
        animation: theV 3s ease-in-out reverse infinite both;
    }
}

@keyframes theH {
    0%,
    100% {
        left: 0px;
    }

    50% {
        left: calc(100% - 20px);
    }
}

@keyframes theV {
    0%,
    100% {
        top: 0px;
    }

    50% {
        top: calc(100% - 20px);
    }
}

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
